@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root {
    --primary: white;
    --seconcary: rgb(68, 68, 68);
    --third: #05624c;
    --four: salmon;
}

img,
video {
    width: 100%;
    object-fit: cover;
}

/* hero section */
.hero {
    background-image: url(assets/hero-img.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
}

.hero nav {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 80px;
    align-items: center;
    padding: 0 3rem;
    color: var(--primary);
    font-weight: bold;
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav button, .dropdown button {
    padding: .7rem 1.5rem;
    border-radius: 3rem;
    color: var(--primary);
    font-size: 1rem;
    background-color: var(--four);
    cursor: pointer;
    white-space: nowrap;
}

nav .logo img {
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

nav .logo h2 {
    font-weight: 600;
    text-shadow: 1px 1px 2px var(--seconcary);
}

nav .nav-list {
    display: flex;
    justify-content: space-around;
}

nav .nav-list ul {
    display: flex;
    gap: 4rem;
    align-items: center;
}

nav .nav-list ul li {
    list-style: none;
}

nav .nav-list ul li a {
    text-decoration: none;
    font-weight: 400;
    color: var(--primary);
}

nav .nav-list ul li a:hover {
    border-bottom: 3px solid var(--four);
}

.nav-icon,
.menu {
    font-size: 1.3rem;
}

.menu {
    display: none;
}

.nav-icon {
    display: flex;
    gap: 2.5rem;
}

nav .icon:hover {
    color: var(--four);
    cursor: pointer;
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    text-align: center;
    color: var(--primary);
    padding: 0 5vw;
}

.hero-content h1 {
    font-size: 5vw;
    font-weight: 600;
    text-shadow: 2px 2px 3px rgb(56, 56, 56);
}


.hero-content .cta {
    display: flex;
    gap: 2.5rem;
}

.hero-content .cta a {
    text-decoration: none;
    color: var(--primary);
    border: 2px solid var(--seconcary);
    padding: .7rem 2rem;
    border-radius: 3rem;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    transition: ease-in-out .3s;
}

.hero-content .cta a:hover {
    background-color: var(--four);
}

.hero-content .cta a .play {
    font-size: 1.5rem;
}

/* benefit section */

.benefit {
    display: flex;
    padding: 2rem 10vw;
    gap: 1.5vw;
}

.benefit .card {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.benefit .card i {
    font-size: 3rem;
}

.benefit .card p {
    color: var(--seconcary);
}

/* about section */

.about {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    padding: 2rem 10vw;
}


.about .about-img {
    display: flex;
    justify-content: end;
    position: relative;
}

.about .about-img img {
    width: 65%;
    aspect-ratio: 1/1.2;
}

.about .about-img .small-img {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 40%;
    height: 50%;
}

.about .about-content,
.services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.about-content .title,
.services-content .title,
.product .title,
.update .title {
    color: var(--four);
    font-size: 1.3rem;
}

.about-content h2,
.services-content h2,
.product h2,
.update .big-title {
    font-size: 2.5;
    font-weight: 600;
}

.about-content p,
.services-content p {
    color: var(--seconcary);
    line-height: 1.7rem;
}

.about-content button {
    padding: 1rem 1.5rem;
    width: 30%;
    white-space: nowrap;
    border-radius: 2rem;
    border: transparent;
    background-color: var(--third);
    color: var(--primary);
    cursor: pointer;
}

/* services section */
.services {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    padding: 2rem 10vw;
}

.services .services-img {
    display: flex;
    justify-content: start;
    position: relative;
}

.services-img img {
    width: 70%;
    aspect-ratio: 1/1.2;
}

.services .services-img .small-img {
    position: absolute;
    top: 20%;
    right: 15%;
    width: 40%;
    height: 50%;
}

.services-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.services-content .services-list h5 {
    font-size: 1.3rem;
    font-weight: 500;
}

.services-list .sv {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sv i {
    font-size: 1.3rem;
}


/* product section */
.product {
    padding: 2rem 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.product .product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}


.product-list img {
    height: 90%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center top;
}

.product-list .pr {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product-list .pr .description {
    display: flex;
    justify-content: space-between;
}

.description p {
    font-weight: 600;
}

.description span {
    font-weight: 300;
    color: var(--seconcary);
}

/* testimoni section */
.testimoni {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    padding: 2rem 10vw;
    background-color: rgb(243, 243, 243);
    align-items: center;
    justify-content: center;
}

.testimoni .icon {
    display: flex;
    justify-content: center;
}

.testimoni .large-icon {
    font-size: 10vw;
    color: var(--third);
}

.testi-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.testi-box .detail {
    display: flex;
    justify-content: space-between;
}

.testi-box .detail .user-detail {
    display: grid;
    grid-template-columns: .5fr 2fr;
    place-items: center;
    justify-items: start;
    gap: .5rem;
}

.testi-box .detail .user-detail img {
    width: 70%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50px;
}

.user-detail span {
    color: grey;
}

.user-detail p {
    text-align: justify;
}

.detail .arrow-icon {
    font-size: 4vw;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: grey;
}

.detail .arrow-icon i:hover {
    color: var(--third);
    cursor: pointer;
}


/* Update Section */
.update {
    padding: 2rem 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.update .news-container {
    display: flex;
    gap: 1.4rem;
}

.news-container img {
    height: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center top;
}

.news-container .date {
    color: grey;
    font-size: 1rem;
    text-align: center;
    word-spacing: .5rem;
}

.news-container .news {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    text-align: center;
}

.news .detail-news h2 {
    font-weight: 600;
}

.detail-news {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detail-news .more {
    text-decoration: underline;
    color: grey;
}


/* video section */
video {
    height: 400px;
    object-fit: cover;
    object-position: center top;
    display: flex;
    align-items: center;
}

.video {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video i {
    position: absolute;
    font-size: 3rem;
    color: var(--primary);
    cursor: pointer;
}

/* footer */
footer {
    padding: 3rem 10vw 0;
    background-color: #021b18;
}

footer .footer {
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr 2fr;
    gap: 2rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid grey;
}

.footer .title {
    color: var(--primary);
    font-weight: 600;
}

.footer .about-furnio .logo img {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.about-furnio .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer p,
li {
    color: #b4b4b4;
}

.footer .ft {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.footer ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer ul li {
    list-style: none;
}

.footer .input-group {
    display: grid;
    grid-template-columns: 1fr .5fr;
    height: 45px;
    border: 1px solid grey;
    padding: 0 .5rem;
}

.mailing {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-group input,
button {
    background-color: transparent;
    color: #b4b4b4;
    border: transparent;
    outline: none;
}

.input-group button {
    cursor: pointer;
}

.input-group input {
    border-right: 1px solid grey;
}

.social-media {
    display: flex;
    gap: 1rem;
}

.footer .social-media i {
    color: var(--primary);
    display: flex;
    gap: .3rem;
}

.footer .social-media i:hover {
    color: var(--four);
    cursor: pointer;
}

footer .copyright {
    height: 100px;
    color: #b4b4b4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.payment {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.payment img {
    width: 40px;
    background-color: var(--primary);
    padding: 5px 10px;
    border-radius: 5px;
}

.list-payment {
    display: flex;
    gap: 1rem;
}


/* menu responsive */
.dropdown {
    display: none;
    position: fixed;
    right: 0;
    top: 80px;
    width: 300px;
    background-color: var(--primary);
    text-align: center;
    gap: 30px;
    height: 0;
    overflow: hidden;
    transition: height .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 5px;
}

.dropdown ul li {
    list-style: none;
}

.dropdown ul li a {
    text-decoration: none;
    color: var(--third);
}

.dropdown.open {
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
}

.dropdown.open .dropdown-list, .dropdown-list ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


/* responsive */

/* tablet */
@media (max-width: 979px) {
    nav .nav-list {
        display: none;
    }

    .menu {
        display: block;
        display: flex;
        justify-content: end;
    }

    .dropdown {
        display: block;
    }

}

/* tablet mini */
@media (max-width: 768px) {

    .hero-content {
        gap: 2rem;
    }

    .hero-content h1 {
        font-size: 8vw;
    }

    .about,
    .services {
        grid-template-columns: 1fr;
        gap: 2rem;
    }



    .benefit {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }

    .product .product-list,
    .update .news-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .news-container {
        flex-wrap: wrap;
    }

    .news-container .news {
        align-self: center;
        justify-self: center;
    }

    .testimoni {
        grid-template-columns: 1fr;
    }

    footer .footer {
        grid-template-columns: 1fr;
    }

    .copyright {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
}

/* handphone */
@media(max-width:480px) {
    .about-content button {
        width: 45%;
    }

    .product .product-list {
        grid-template-columns: 1fr;
    }

    .hero-content h1 {
        font-size: 10vw;
    }

    .hero-content .cta {
        flex-direction: column;
        gap: 1rem;
    }
}